// import variables file
@use "variables" as *;
.team {
    padding: $padding;
    background-color: $background_color;
    .container {
        .title {
            text-align: center;
            margin-bottom: $margin;
        }
        .sub_tit {
            text-align: center;
            margin: $margin 0;
        }
        .boxs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            .box {
                background-color: white;
                border-radius: $border_r;
                img {
                    width: 15.625em;
                    padding: 20px;
                    border-radius: $border_r + 10px;
                }
                div:nth-child(2) {
                    margin: calc($margin - 10px) 0;
                    font-family: "Libre Baskerville", serif; 
                    font-weight: bold;
                    text-align: center;
                    font-size: $font_four;
                }
                div:nth-child(3) {
                    text-align: center;
                    margin: calc($margin - 10px) 0;
                    color: $third_color;
                    font-size: $font_four;
                }
                div:nth-child(4) {
                    margin: calc($margin - 10px) 0;
                    text-align: center;
                    font-size: $font_four;
                    i {
                        &:hover {
                            background-color: $sec_color;
                            color: $main_color;
                        }
                        transition: all 0.2s ease-in-out;
                        text-align: center;
                        color: $sec_color;
                        background-color: #eeeeee56;
                        padding: 10px;
                        border-radius: 50%;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
