$main_color: #404A3D;
$sec_color: #EDDD5E;
$third_color: #5B8C51;
$forth_color: #6c757d;
$background_color: #f4f4f4bb;
$padding: 2em 0;
$margin: 20px;
$border_r: 15px;
// fonts 
$font_one: 3.125em;    // 50px in normal or when 1em = 16px
$font_two: 2.5em;      // 40px in normal or when 1em = 16px
$font_three: 1.5em;    // 24px in normal or when 1em = 16px
$font_four: 1em;       // 16px in normal or when 1em = 16px
$font_five: 1.875em;   // 30px in normal or when 1em = 16px