extends index.pug
block head
    +head("About Us")
block landing
    .landing_two 
        div About Us
        div 
            a(href="index.html") Home / 
            a(href="about.html") About Us
block why
    div
block services
    div
block ads
    div
block gallery
    div
block products
    div