mixin head (title)
    meta(name="author" content="Beshoy Samy Englizy")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Milky Template")
    title= title
    // Main CSS File
    link(rel="stylesheet" href="style/style.css")
    // Render All Elements Normally
    link(rel="stylesheet" href="style/normalize.css")
    // Google Font
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    // Font Awesome Library
    link(rel="stylesheet", href="style/all.min.css")
    link(rel="icon" href="imgs/logo.icon")