extends index.pug
block head
    +head("Products")
block landing
    .landing_two 
        div Products
        div 
            a(href="index.html") Home / 
            a(href="products.html") Products
block about
    div
block services
    div
block ads
    div
block gallery
    div
block team
    div