extends index.pug
block head
    +head("Services")
block landing
    .landing_two 
        div Services
        div 
            a(href="index.html") Home / 
            a(href="services.html") Services
block about
    div
block ads
    div
block gallery
    div
block products
    div
block team
    div